@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
* 3. Remove gray overlay on links for iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
* Prevent vertical alignment issues.
*/
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
* Reset form fields to make them styleable
*/
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
* Reset radio and checkbox appearance to preserve their look in iOS.
*/
[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Remove arrow in IE10 & IE11
*/
select::-ms-expand {
  display: none;
}

/**
* Remove padding
*/
option {
  padding: 0;
}

/**
* Reset to invisible
*/
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the outline style in Safari.
*/
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
* Clickable labels
*/
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/*
* Remove outline for editable content.
*/
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

/* ------------ colors ------------ */
/* ------------------------------- */
/* ------------ text-color ------------ */
/* ------------ border-color ------------ */
/* ------------ background-color ------------ */
/* ------------ system-color ------------ */
/* ------------ cv ------------ */
/* ------------ menu ------------ */
/* ------------ NEW ------------ */
/* ------------ slick-color ------------ */
body {
  overflow-x: hidden;
  font-family: source-han-sans-japanese, sans-serif;
  text-align: justify;
  line-height: 1.6;
  color: #1e1e1e;
  font-weight: 500;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover,
a:active,
a:hover img {
  opacity: 0.8;
}

table,
ul ul,
ol ol {
  font-size: 100%;
}

td ul,
td p,
td dt,
td dd {
  font-size: 100%;
}

select,
input,
textarea,
button {
  font-size: 99%;
}

strong,
em {
  font-weight: inherit;
  font-style: inherit;
}

.en {
  font-family: urw-din,  sans-serif;
  line-height: 1;
}

::selection,
::-moz-selection {
  background: #5db2d9;
}

*:focus {
  outline: none;
}

#topcontrol {
  z-index: 1000;
}

#MenuNavi {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
}

input:not([type=checkbox]):not([type=radio]):not([type=submit]),
textarea,
select {
  padding: 0.4em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

select {
  -webkit-appearance: auto;
  appearance: auto;
}

/* ------------------------

l-header

------------------------ */
.l-header {
  width: 100%;
  position: fixed;
  z-index: 8000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  top: 14px;
}
.l-header__container {
  width: 96%;
  margin: 0 auto;
}
.l-header h1 a {
  display: flex;
  align-items: center;
}
.l-header h1 .p-item-logo span {
  padding-left: 2px;
  letter-spacing: 1px;
  font-size: 17px;
  padding-top: 12px;
  display: block;
}
.l-header h1 .p-item-logo__logo {
  width: 180px;
  margin-right: 10px;
}

@media screen and (min-width: 761px) {
  .l-header .p-item-logo {
    display: inline-block;
    width: auto;
    float: left;
  }
  .l-header .l-gnav {
    display: inline-block;
    float: right;
    padding-top: 13px;
    padding-right: 14px;
  }
  .l-header .l-gnav ul {
    display: flex;
  }
  .l-header .l-gnav ul li {
    margin-right: 28px;
  }
  .l-header .cv.c-button {
    float: right;
    width: 261px;
    font-size: 14px;
    border: 2px solid #f69125;
  }
  .l-header .cv.c-button span.en {
    font-size: 25px;
    padding-left: 4px;
    padding-right: 12px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 740px) {
  .l-header {
    width: 85%;
    top: 8px;
  }
  .l-header__container {
    padding-left: 3%;
    padding-top: 1%;
    width: 100%;
  }

  .l-header h1 .p-item-logo__logo {
    width: 34%;
    height: auto;
    margin-right: 4px;
  }
  .l-header h1 .p-item-logo__title {
    font-size: 2.8vw;
    text-align: left;
  }
  .l-header h1 .p-item-logo__title span {
    display: block;
    margin-top: 1px;
    font-size: 3.3vw;
    padding-left: 3px;
    padding-top: 4px;
  }
  .l-header h1 .p-item-logo__title small {
    display: inline-block;
    font-size: 2.4vw;
  }
}
/* ------------------------------------

.l-footer_other_contents

------------------------------------ */
.l-footer_other_contents h2 {
  text-align: center;
  color: #58b2dc;
  letter-spacing: 2px;
}

@media screen and (min-width: 761px) {
  .l-footer_other_contents {
    margin-bottom: -60px;
    margin-top: 160px;
  }
  .l-footer_other_contents h2 {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .l-footer_other_contents .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .l-footer_other_contents .inner .c-box01 {
    width: 382px;
  }
}
@media screen and (max-width: 740px) {
  .l-footer_other_contents {
    padding-top: 14%;
  }
  .l-footer_other_contents h2 {
    margin-bottom: 5%;
    font-size: 6vw;
  }
  .l-footer_other_contents .inner {
    width: 90%;
    margin: 0 auto;
  }
  .l-footer_other_contents .inner .c-box01 {
    margin-bottom: 6%;
  }
}
.l-footer_other_contents .c-box01 {
  display: none;
}

.page_top .l-footer_other_contents,
.page_index .l-footer_other_contents,
.page_number .l-footer_other_contents,
.page_training .l-footer_other_contents,
.page_policy .l-footer_other_contents,
.page_news .l-footer_other_contents,
.page_member_index .l-footer_other_contents,
.page_form .l-footer_other_contents {
  display: none;
}

.page_change .l-footer_other_contents .-communication,
.page_change .l-footer_other_contents .-belief,
.page_change .l-footer_other_contents .-member {
  display: block;
}

.page_communication .l-footer_other_contents .-change,
.page_communication .l-footer_other_contents .-belief,
.page_communication .l-footer_other_contents .-member {
  display: block;
}

.page_belief .l-footer_other_contents .-change,
.page_belief .l-footer_other_contents .-philosophy,
.page_belief .l-footer_other_contents .-message {
  display: block;
}

.page_member_detail.page_member .l-footer_other_contents .-number,
.page_member_detail.page_member .l-footer_other_contents .-communication,
.page_member_detail.page_member .l-footer_other_contents .-welfare {
  display: block;
}

.page_philosophy .l-footer_other_contents .-about,
.page_philosophy .l-footer_other_contents .-message,
.page_philosophy .l-footer_other_contents .-careers {
  display: block;
}

.page_message .l-footer_other_contents .-about,
.page_message .l-footer_other_contents .-member,
.page_message .l-footer_other_contents .-careers {
  display: block;
}

.page_business .l-footer_other_contents .-about,
.page_business .l-footer_other_contents .-message,
.page_business .l-footer_other_contents .-careers {
  display: block;
}

.page_company_about .l-footer_other_contents .-about,
.page_company_about .l-footer_other_contents .-message,
.page_company_about .l-footer_other_contents .-careers {
  display: block;
}

.page_flow .l-footer_other_contents .-guideline,
.page_flow .l-footer_other_contents .-parents,
.page_flow .l-footer_other_contents .-training {
  display: block;
}

.page_guideline .l-footer_other_contents .-guideline,
.page_guideline .l-footer_other_contents .-parents,
.page_guideline .l-footer_other_contents .-training {
  display: block;
}

.page_parents .l-footer_other_contents .-change,
.page_parents .l-footer_other_contents .-belief,
.page_parents .l-footer_other_contents .-member {
  display: block;
}

.page_welfare .l-footer_other_contents .-about,
.page_welfare .l-footer_other_contents .-company,
.page_welfare .l-footer_other_contents .-member {
  display: block;
}

/* ------------------------------------

l-footer-message

------------------------------------ */
.l-footer-message {
  text-align: center;
  padding: 500px 0px 210px;
  background-size: contain;
  position: relative;
  overflow: hidden;
  background: url(../images/cmn/bg_footer.jpg) no-repeat center top;
}
.l-footer-message::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
}
.l-footer-message__container {
  position: absolute;
  z-index: 3000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.l-footer-message h3 {
  font-size: 46px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 25px;
  padding-left: 20px;
}
.l-footer-message__post-text {
  font-size: 15px;
  line-height: 2.2;
  margin-bottom: 48px;
}
.l-footer-message .c-button {
  margin-top: 20px;
}

@media screen and (min-width: 761px) {
  .l-page .l-footer-message {
    margin-top: 120px;
  }
}
@media screen and (max-width: 740px) {
  .l-footer-message {
    padding: 104% 0 72%;
    margin-top: 10%;
    background-image: url(../images/cmn/bg_footer_sp.jpg);
  }
  .l-footer-message__container {
    width: 100%;
  }
  .l-footer-message h3 {
    font-size: 10.2vw;
    letter-spacing: -2px;
    padding-left: 5%;
  }
  .l-footer-message__post-text {
    padding: 0 5%;
    line-height: 1.8;
    font-size: 3.74vw;
  }
}
/* ------------------------------------

l-footer-sns

------------------------------------ */
/*  l-footer-sns  */
.l-footer-sns {
  margin: 18px auto;
}
.l-footer-sns ul {
  display: flex;
  justify-content: center;
}
.l-footer-sns ul li {
  height: 42px;
  padding: 0 10px;
}
.l-footer-sns ul li img {
  width: auto;
  height: 100%;
}
.l-footer-sns ul li a {
  height: 100%;
}

@media screen and (max-width: 740px) {
  .l-footer-sns {
    margin: 4% auto 0;
  }
  .l-footer-sns ul {
    flex-wrap: wrap;
  }
  .l-footer-sns ul li {
    margin-bottom: 3.6%;
    height: 40px;
  }
}
/* ------------------------------------

l-footer

------------------------------------ */
.l-footer {
  padding-top: 74px;
  padding-bottom: 15px;
  background: #545454;
  color: #fff;
}
.l-footer__company {
  text-align: center;
}
.l-footer__company .p-item-flogo__logo {
  width: 186px;
  margin: 0 auto 12px;
}
.l-footer__company .p-item-flogo__post-text {
  font-size: 18px;
}
.l-footer__company .p-item-flogo__post-text small {
  display: block;
  font-size: 12px;
}
.l-footer__company .p-item-address {
  margin: 25px auto 35px;
  padding: 24px 0;
  line-height: 1.5;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.l-footer__company .p-item-address__post-title {
  margin-bottom: 8px;
  font-size: 17px;
}
.l-footer__company .p-item-address__post-text, .l-footer__company .p-item-address__tel {
  font-size: 15px;
}
.l-footer__company .p-item-address__time {
  font-size: 12px;
}
.l-footer__sitemap {
  margin: 0 auto 80px;
  text-align: center;
}
.l-footer__sitemap .p-item-link {
  display: inline-block;
  padding-right: 30px;
  vertical-align: top;
}
.l-footer__sitemap .p-item-link li {
  margin-bottom: 10px;
  text-align: left;
  font-size: 13px;
}
.l-footer__sitemap .p-item-link li a {
  text-align: left;
}
.l-footer__sitemap .p-item-link__sub {
  font-size: 11px;
  margin-bottom: 5px;
}
.l-footer__sitemap .p-item-link__sub a::before {
  content: "-";
}
.l-footer__copy {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.l-form-index .l-footer {
  background: none;
  color: #1e1e1e;
}
.l-form-index .fix_cv_btn {
  display: none;
}
.l-form-index .l-toggle {
  display: none;
}
.l-form-index header .cv.c-button {
  display: none;
}

@media screen and (min-width: 761px) {
  .l-footer__company .p-item-address {
    width: 1200px;
  }
}
@media screen and (max-width: 740px) {
  .l-footer {
    padding-top: 16%;
    padding-bottom: 22%;
  }
  .l-footer .p-item-flogo__logo {
    width: 46%;
  }
  .l-footer .p-item-flogo__post-text {
    font-size: 3.74vw;
  }
  .l-footer .p-item-address {
    width: 90%;
  }
  .l-footer .p-item-address__tel {
    font-size: 5.4vw;
    margin-top: 1.5%;
  }
  .l-footer__copy {
    font-size: 3vw;
  }

  .l-form-index .l-footer {
    padding-bottom: 4%;
  }
}
/* ------------------------------------

l-control : footer menu (SP)

------------------------------------ */
.l-control {
  position: fixed;
  z-index: 8000;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 18vw;
  transform: translateY(100%);
  transition: 0.3s;
}
.l-control.active {
  transform: translateY(0);
}
.l-control .p-item-entry {
  width: 68%;
}
.l-control .p-item-entry a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 18vw;
  font-size: 3.7vw;
  font-weight: 700;
  color: #fff;
  background: #f69125;
}
.l-control .p-item-entry a:before {
  content: "";
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 4vw;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-style: solid;
  border-width: 3px 0 3px 6px;
  border-color: transparent transparent transparent #fff;
}
.l-control .p-item-entry span.en {
  font-size: 9vw;
  padding-left: 2.4%;
}
.l-control .p-item-contact {
  display: flex;
  width: 32%;
}
.l-control .p-item-contact li {
  width: 50%;
  border-left: 1px solid #fff;
  box-sizing: border-box;
}
.l-control .p-item-contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 18vw;
  color: #fff;
  background: #58b2dc;
}
.l-control .p-item-contact span {
  width: 5vw;
  height: 6vw;
  margin: 1vw 0 1.2vw;
}
.l-control .p-item-contact p {
  font-size: 3vw;
  font-weight: 500;
}

/*!
 * jquery-drawer - A small CSS3 and jQuery plugin for app style drawer menu.
 * @version v2.4.0
 * @link    http://git.blivesta.com/drawer
 * @author  blivesta
 * @license MIT
 */
body.drawer-navbar.drawer-fixed {
  padding-top: 0;
}

.drawer-main {
  position: fixed;
  z-index: 999999;
  bottom: 0;
  overflow: hidden;
  height: 100%;
}

.drawer-left .drawer-main {
  left: -280px;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(-280px, 0px, 0px);
  transform: translate3d(-280px, 0px, 0px);
}

.drawer-left.drawer-open .drawer-main {
  left: 0;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.drawer-right .drawer-main {
  right: -280px;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(280px, 0px, 0px);
  transform: translate3d(280px, 0px, 0px);
}

.drawer-right.drawer-open .drawer-main {
  right: 0;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/* .drawer-top .drawer-main {
  width: 100%;
  height: auto;
  max-height: 100%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(0, -100%, 0px);
  transform: translate3d(0, -100%, 0px);
} */
/* .drawer-top.drawer-open .drawer-main {
  -webkit-transform: translate3d(0, 0, 0px);
  transform: translate3d(0, 0, 0px);
} */
.drawer-top .drawer-main {
  width: 100%;
  height: auto;
  max-height: 100%;
  right: -280px;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: -o-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translate3d(0, -100%, 0px);
  transform: translate3d(0, -100%, 0px);
}

.drawer-top.drawer-open .drawer-main {
  right: 0;
  -webkit-transform: translate3d(0, 0, 0px);
  transform: translate3d(0, 0, 0px);
}

.drawer-overlay {
  position: relative;
}

.drawer-left .drawer-hamburger {
  left: 0;
  -webkit-transform: translateX(0px) translateY(0px);
  -ms-transform: translateX(0px) translateY(0px);
  -o-transform: translateX(0px) translateY(0px);
  transform: translateX(0px) translateY(0px);
}

.drawer-left.drawer-open .drawer-hamburger {
  -webkit-transform: translateX(280px) translateY(0px);
  -ms-transform: translateX(280px) translateY(0px);
  -o-transform: translateX(280px) translateY(0px);
  transform: translateX(280px) translateY(0px);
}

.drawer-right .drawer-hamburger {
  right: 0;
  -webkit-transform: translateX(0px) translateY(0px);
  -ms-transform: translateX(0px) translateY(0px);
  -o-transform: translateX(0px) translateY(0px);
  transform: translateX(0px) translateY(0px);
}

.drawer-right.drawer-open .drawer-hamburger {
  -webkit-transform: translateX(-280px) translateY(0px);
  -ms-transform: translateX(-280px) translateY(0px);
  -o-transform: translateX(-280px) translateY(0px);
  transform: translateX(-280px) translateY(0px);
}

.drawer-top .drawer-hamburger {
  right: 0;
}

.drawer-top.drawer-open .drawer-hamburger {
  z-index: 99999999;
  right: 0;
}

.drawer-overlay-upper {
  position: fixed;
  z-index: 5200;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: none;
  background-color: white;
}

.drawer-open .drawer-overlay-upper {
  display: block !important;
}

.drawer-hamburger {
  border: 0;
  position: fixed;
  display: block;
  bottom: 0;
  padding: 10px 16px;
  width: 50px;
  height: 49px;
  background: #f69125;
  border: none;
  /* border-radius:50%; */
  z-index: 99999999;
  outline: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.drawer-open .drawer-hamburger {
  background: #FFF;
}

.drawer-hamburger.on, .naka .drawer-hamburger {
  bottom: 0;
  z-index: 999999;
}

.drawer-header .txt {
  color: #fff;
  font-size: 0.8rem;
}

.drawer-open .drawer-header .txt {
  display: none;
}

.drawer-hamburger:hover {
  cursor: pointer;
}

.drawer-hamburger .txt {
  color: #fff;
  font-size: 0.7em;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}

.drawer-hamburger-icon {
  position: relative;
  display: block;
  margin-top: 2px;
}

.drawer-hamburger-icon, .drawer-hamburger-icon:before, .drawer-hamburger-icon:after {
  height: 2px;
  width: 100%;
  background-color: #FFF;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.drawer-open .drawer-hamburger-icon, .drawer-open .drawer-hamburger-icon:before, .drawer-open .drawer-hamburger-icon:after {
  background-color: #f69125;
}

.drawer-hamburger-icon:before, .drawer-hamburger-icon:after {
  position: absolute;
  content: " ";
  top: -10px;
  left: 0;
}

.drawer-hamburger-icon:after {
  top: -5px;
}

.drawer-open .drawer-hamburger-icon {
  background-color: transparent;
}

.drawer-open .drawer-hamburger-icon:before, .drawer-open .drawer-hamburger-icon:after {
  top: -2px;
}

.drawer-open .drawer-hamburger-icon:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.drawer-open .drawer-hamburger-icon:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.drawer-default {
  -webkit-box-shadow: inset 0 0px 0px #303030;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0px 0px #303030;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.5);
}

.drawer-default + .drawer-overlay {
  background-color: #fff;
}

.drawer-default li, .drawer-default a, .drawer-default .drawer-brand {
  position: relative;
  display: block;
}

.drawer-open .drawer-default li {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #e2e2e2;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX();
  -webkit-animation: menu_anime 0.5s ease 0.25s 1 forwards;
  animation: menu_anime 0.5s ease 0.25s 1 forwards;
}

.drawer-open .drawer-default li.logo {
  width: 46%;
  margin: 10% auto;
  border-top: none;
}

.drawer-open .drawer-default li.last {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10%;
}

.drawer-open .drawer-default li.other_link {
  width: 42%;
  display: inline-block;
  border-top: none;
}

.drawer-open .drawer-default li.other_link a {
  text-align: center;
  font-size: 11px;
  font-weight: 300;
}

.drawer-open .drawer-default li.other_link a.blank p {
  padding-right: 16px;
  background: url(../img/cmn/icon_blank.png) right 2px no-repeat;
  background-size: 10px auto;
  display: inline;
}

.drawer-open .drawer-default li .sub_list {
  height: auto;
}

.drawer-open .drawer-default li .sub_list li {
  width: 100%;
}

.drawer-open .drawer-default li .sub_list li a::before {
  content: "- ";
}

.drawer-open .drawer-default li .sub_list li a p {
  display: inline;
}

.drawer-open .drawer-default li.btn_cv,
.drawer-open .drawer-default li.btn_tel {
  border: none;
  margin-bottom: 5%;
}

.drawer-open .drawer-default li.btn_cv a {
  background: #58b2dc;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  padding: 8% 0;
}

.drawer-open .drawer-default li.btn_tel a {
  background: #f5e3e0;
  color: #393939;
  text-align: center;
  line-height: 1;
  padding: 7% 0;
}

.drawer-open .drawer-default li.btn_tel a span {
  font-size: 20px;
  margin-bottom: 5px;
}

@-webkit-keyframes menu_anime {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes menu_anime {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.drawer-default a {
  text-decoration: none;
  color: #171717;
  font-size: 13px;
  text-align: center;
  padding: 5% 5%;
  font-weight: 600;
  line-height: 1;
}

.drawer-default .logo {
  width: 100%;
  margin-bottom: 5%;
  background: #FFF;
}

.drawer-default .logo a img {
  width: 100%;
}

.drawer-default a .inner {
  margin: 0 auto;
  position: relative;
}

.drawer-default a span {
  display: inline-block;
}

@media screen and (max-width: 740px) {
  .drawer-default ul {
    height: 800px;
    text-align: center;
  }
}
.drawer-default a:hover, .drawer-default a:focus {
  background: rgba(218, 164, 163, 0.3);
}

.drawer-default .drawer-brand a {
  padding: 20px 15px;
  color: #FFF;
  font-size: 22px;
}

.drawer-default .drawer-brand a:hover {
  opacity: 1;
}

.drawer-default .drawer-brand > img {
  display: block;
}

.drawer-default .drawer-footer {
  position: relative;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
}

.drawer-default .drawer-footer span:before, .drawer-default .drawer-footer span:after {
  content: " ";
  display: block;
}

.drawer-default > ul {
  width: 100%;
  height: 1000px;
  margin: 0 auto 54px;
  padding: 0;
  list-style: none;
}

.drawer-default .drawer-menu-item {
  padding: 15px 15px 0;
  font-size: 18px;
  color: #555;
}

.drawer-default .drawer-menu-item.disabled a {
  color: #333;
}

.drawer-default .drawer-menu-item.disabled a:hover, .drawer-default .drawer-menu-item.disabled a:focus {
  cursor: not-allowed;
  color: #333;
  background-color: transparent;
}

.drawer-default .drawer-menu-item a {
  /* color: #888; */
  color: #111;
}

.drawer-default .drawer-menu-item a:hover, .drawer-default .drawer-menu-item a:focus {
  color: #fff;
  background-color: transparent;
}

.drawer-default .drawer-menu-item a img {
  max-width: none;
}

.drawer-default .drawer-submenu {
  margin-bottom: 20px;
}

.drawer-default .drawer-submenu:last-child {
  margin-bottom: 0;
}

.drawer-default .drawer-submenu-item {
  padding: 0;
}

.drawer-default .drawer-submenu-item a {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}

.drawer-default .drawer-submenu-item a:hover, .drawer-default .drawer-submenu-item a:focus {
  color: #fff;
}

.drawer-default .dropdown-menu {
  position: absolute;
  display: none;
  z-index: 5000;
  background-color: #222;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.drawer-default .dropdown-menu > li > a {
  padding: 0 !important;
}

.drawer-default .dropdown.open > .dropdown-menu {
  position: static;
  display: block;
  float: none;
  width: auto;
}

@media (max-width: 767px) {
  .drawer-default a:hover, .drawer-default a:focus {
    color: #888 !important;
    text-decoration: none;
  }
}
.drawer-navbar-default {
  background-color: #222;
  -webkit-box-shadow: inset 0 0px 0px #000000;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0px 0px #000000;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.5);
}

.drawer-navbar-default + .drawer-overlay {
  background-color: #fff;
}

.drawer-navbar-default li, .drawer-navbar-default a, .drawer-navbar-default .drawer-brand {
  position: relative;
  display: block;
}

.drawer-navbar-default a {
  text-decoration: none;
  outline: 0;
}

.drawer-navbar-default a:hover, .drawer-navbar-default a:focus {
  text-decoration: none;
}

.drawer-navbar-default .drawer-brand a {
  padding: 20px 15px;
  color: #fff;
  font-size: 22px;
}

.drawer-navbar-default .drawer-brand a:hover, .drawer-navbar-default .drawer-brand a:focus {
  color: #555;
}

.drawer-navbar-default .drawer-brand > img {
  display: block;
}

.drawer-navbar-default .drawer-footer {
  position: relative;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
}

.drawer-navbar-default .drawer-footer span:before, .drawer-navbar-default .drawer-footer span:after {
  content: " ";
  display: block;
}

.drawer-navbar-default ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.drawer-navbar-default .drawer-menu.drawer-navbar-right {
  float: none;
}

.drawer-navbar-default .drawer-menu-item {
  padding: 15px 15px 0;
  font-size: 18px;
  color: #555;
}

.drawer-navbar-default .drawer-menu-item.disabled a {
  color: #333;
}

.drawer-navbar-default .drawer-menu-item.disabled a:hover, .drawer-navbar-default .drawer-menu-item.disabled a:focus {
  color: #333;
  background-color: transparent;
  cursor: not-allowed;
}

.drawer-navbar-default .drawer-menu-item a {
  color: #888;
}

.drawer-navbar-default .drawer-menu-item a:hover, .drawer-navbar-default .drawer-menu-item a:focus {
  color: #fff;
  background-color: transparent;
}

.drawer-navbar-default .drawer-menu-item a img {
  max-width: none;
}

.drawer-navbar-default .drawer-submenu {
  margin-bottom: 20px;
}

.drawer-navbar-default .drawer-submenu:last-child {
  margin-bottom: 0;
}

.drawer-navbar-default .drawer-submenu-item {
  padding: 0;
}

.drawer-navbar-default .drawer-submenu-item a {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
}

.drawer-navbar-default .drawer-submenu-item a:hover, .drawer-navbar-default .drawer-submenu-item a:focus {
  color: #fff;
}

.drawer-navbar-default .dropdown-menu {
  position: absolute;
  display: none;
  z-index: 5000;
  top: 100%;
  left: 0;
  background-color: #222;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.drawer-navbar-default .dropdown-menu > li > a {
  padding: 0 !important;
}

.drawer-navbar-default .dropdown.open > .dropdown-menu {
  display: block;
}

@media (max-width: 767px) {
  .drawer-navbar-default .container {
    padding-left: 0;
    padding-right: 0;
  }

  .drawer-navbar-default .drawer-menu-item a:hover, .drawer-navbar-default .drawer-menu-item a:focus {
    color: #888;
    text-decoration: none;
  }

  .drawer-navbar-default .drawer-submenu {
    margin-bottom: 20px;
  }

  .drawer-navbar-default .drawer-submenu:last-child {
    margin-bottom: 0;
  }

  .drawer-navbar-default .drawer-submenu-item a:hover, .drawer-navbar-default .drawer-submenu-item a:focus {
    color: #ddd;
  }

  .drawer-navbar-default .dropdown.open > .dropdown-menu {
    position: static;
    float: none;
    width: auto;
  }
}
.drawer-dropdown .caret, .drawer-dropdown-hover .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  -webkit-transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
  -o-transition: -o-transform 0.2s ease, opacity 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.drawer-dropdown.open .caret, .drawer-dropdown-hover.open .caret {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

@media (min-width: 767px) {
  .drawer-responsive.drawer-left .drawer-toggle, .drawer-responsive.drawer-right .drawer-toggle, .drawer-navbar.drawer-left .drawer-toggle, .drawer-navbar.drawer-right .drawer-toggle, .drawer-navbar.drawer-top .drawer-toggle {
    display: none;
    visibility: hidden;
  }

  .drawer-responsive.drawer-left .drawer-main {
    left: 0;
    display: block;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  .drawer-responsive.drawer-right .drawer-main {
    right: 0;
    display: block;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
@media (min-width: 768px) {
  body.drawer-navbar.drawer-fixed {
    padding-top: 50px;
  }

  .drawer-responsive {
    background-color: #222;
  }

  .drawer-responsive .drawer-overlay {
    background-color: #fff;
  }

  .drawer-responsive .container {
    max-width: 618px;
  }

  .drawer-responsive.drawer-left .drawer-main, .drawer-responsive.drawer-right .drawer-main {
    position: absolute;
    width: 150px !important;
    height: auto !important;
    overflow: visible !important;
  }

  .drawer-responsive.drawer-left .drawer-main {
    float: left;
  }

  .drawer-responsive.drawer-left .drawer-overlay {
    margin-left: 150px;
  }

  .drawer-responsive.drawer-right .drawer-main {
    float: right;
  }

  .drawer-responsive.drawer-right .drawer-overlay {
    margin-right: 150px;
  }

  .drawer-navbar.drawer-left .drawer-main, .drawer-navbar.drawer-right .drawer-main, .drawer-navbar.drawer-top .drawer-main {
    position: relative;
  }

  .drawer-navbar.drawer-static.drawer-left .drawer-main, .drawer-navbar.drawer-static.drawer-right .drawer-main, .drawer-navbar.drawer-static.drawer-top .drawer-main {
    z-index: 5000;
  }

  .drawer-navbar.drawer-fixed.drawer-left .drawer-main, .drawer-navbar.drawer-fixed.drawer-right .drawer-main, .drawer-navbar.drawer-fixed.drawer-top .drawer-main {
    position: fixed;
    z-index: 9999999999;
  }

  .drawer-navbar.drawer-left .drawer-main, .drawer-navbar.drawer-right .drawer-main, .drawer-navbar.drawer-top .drawer-main {
    display: block;
    top: 0;
    left: 0;
    width: 100% !important;
    height: auto !important;
    overflow: visible !important;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  .drawer-navbar-default {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }

  .drawer-navbar-default li, .drawer-navbar-default a, .drawer-navbar-default .drawer-brand {
    float: left;
  }

  .drawer-navbar-default a {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }

  .drawer-navbar-default .drawer-brand a {
    padding: 0 15px;
    color: #555;
    font-size: 90%;
  }

  .drawer-navbar-default .drawer-brand a:hover, .drawer-navbar-default .drawer-brand a:focus {
    color: #333;
    background-color: #eee;
  }

  .drawer-navbar-default .drawer-footer {
    display: none;
  }

  .drawer-navbar-default .drawer-menu.drawer-navbar-right {
    float: right;
  }

  .drawer-navbar-default .drawer-menu.drawer-navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }

  .drawer-navbar-default .drawer-menu-item {
    padding: 0;
    font-size: 14px;
  }

  .drawer-navbar-default .drawer-menu-item a:hover, .drawer-navbar-default .drawer-menu-item a:focus {
    color: #888;
    background-color: #eee;
  }

  .drawer-navbar-default .dropdown-menu {
    -webkit-box-shadow: 0 6px 12px #000000;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px #000000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }

  .drawer-navbar-default .dropdown-menu > li {
    float: none;
    /* for IE7+ */
  }

  .drawer-navbar-default .dropdown-menu > li > a {
    width: 160px;
    padding: 0 15px !important;
    /* conflict by cooker */
    color: #fff;
    background-color: #444;
    border-bottom: 1px solid #555;
    opacity: 0.9;
    filter: alpha(opacity=90);
  }

  .drawer-navbar-default .dropdown-menu > li > a:hover, .drawer-navbar-default .dropdown-menu > li > a:focus {
    color: #999;
    background-color: #333;
  }
}
@media (min-width: 1200px) {
  .drawer-responsive .container {
    max-width: 768px;
  }

  .drawer-responsive.drawer-left .drawer-main, .drawer-responsive.drawer-right .drawer-main {
    width: 280px !important;
  }

  .drawer-responsive.drawer-left .drawer-overlay {
    margin-left: 280px;
  }

  .drawer-responsive.drawer-right .drawer-overlay {
    margin-right: 280px;
  }
}
@media screen and (max-width: 740px) {
  .drawer-open .drawer-default li.logo {
    width: 35%;
    margin: 0 auto;
    border-top: none;
  }
}
/* ------------------------------------

menu : l-toggle (SP)

------------------------------------ */
.l-toggle {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 15vw;
  height: 15vw;
  background: #58b2dc;
  z-index: 9999;
}
.l-toggle:hover {
  cursor: pointer;
}
.l-toggle div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 8vw;
  height: 6vw;
  margin: 0;
}
.l-toggle span {
  width: 100%;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}
.l-toggle p {
  display: none;
}
.l-toggle.active div {
  justify-content: center;
}
.l-toggle.active span:nth-child(1) {
  transform: translateY(1px) rotate(-45deg);
}
.l-toggle.active span:nth-child(2) {
  display: none;
}
.l-toggle.active span:nth-child(3) {
  transform: translateY(-1px) rotate(45deg);
}

/* ------------------------------------

menu : l-navigation (SP)

------------------------------------ */
.l-navigation {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 3vw 3vw 10vw 2.6vw;
  overflow: scroll;
  z-index: 9000;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
}
.l-navigation.active {
  opacity: 1;
  visibility: visible;
}
.l-navigation__logo {
  margin: 0 0 10vw;
  width: 90%;
}
.l-navigation__logo a {
  display: flex;
  align-items: center;
  font-size: 3.74vw;
  color: #1e1e1e;
}
.l-navigation__logo .hlogo {
  width: 33.5%;
  height: auto;
  margin-right: 6px;
}
.l-navigation__logo span.en {
  display: block;
  padding-top: 6px;
  font-size: 3.3vw;
  letter-spacing: 1px;
  font-weight: 600;
}
.l-navigation__menu {
  margin: 0 0 6vw;
}
.l-navigation__menu p {
  font-size: 3.4vw;
  text-align: center;
  color: #9e9e9e;
  margin: 0 0 2vw;
}
.l-navigation__menu > ul {
  border-top: 1px solid #9e9e9e;
}
.l-navigation__menu > ul > li {
  border-bottom: 1px solid #9e9e9e;
}
.l-navigation__menu > ul > li > a {
  display: block;
  font-size: 4.2vw;
  padding: 4vw;
  color: #1e1e1e;
}
.l-navigation__menu > ul > li > a.accordion {
  position: relative;
}
.l-navigation__menu > ul > li > a.accordion:before {
  content: "";
  position: absolute;
  top: 0;
  right: 2vw;
  bottom: 0;
  width: 2.6vw;
  height: 2.6vw;
  margin: auto;
  border-right: 0.6vw solid #1e1e1e;
  border-bottom: 0.6vw solid #1e1e1e;
  transform: rotate(45deg);
  transition: 0.3s;
  box-sizing: border-box;
}
.l-navigation__menu > ul > li > a.accordion.active:before {
  transform: rotate(225deg);
}
.l-navigation__menu > ul > li ul {
  display: none;
  padding: 0 0 6vw;
}
.l-navigation__menu > ul > li ul li {
  margin: 0 0 1vw;
}
.l-navigation__menu > ul > li ul li:last-child {
  margin: 0;
}
.l-navigation__menu > ul > li ul li a {
  position: relative;
  display: block;
  color: #fff;
  background: #5db2d9;
  padding: 2vw 4vw;
}
.l-navigation__menu > ul > li ul li a span {
  position: relative;
  display: block;
  font-size: 3.9vw;
  padding: 0 0 0 3.9vw;
}
.l-navigation__menu > ul > li ul li a span:before {
  content: "-";
  position: absolute;
  top: 0;
  left: 0;
}
.l-navigation__menu > ul > li.l-sns {
  text-align: center;
  width: 90%;
  margin: 20px auto 0;
  border-bottom: none;
}
.l-navigation__menu > ul > li.l-sns ul {
  display: block;
}
.l-navigation__menu > ul > li.l-sns ul li {
  height: 44px;
  padding: 0 8px;
  display: inline-block;
  vertical-align: top;
}
.l-navigation__menu > ul > li.l-sns ul li img {
  width: auto;
  height: 100%;
  display: inline-block;
}
.l-navigation__menu > ul > li.l-sns ul a {
  padding: 0;
  background: none;
  height: 100%;
}
.l-navigation__menu > ul > li.l-sns ul .en {
  font-size: 5vw;
  color: #1e1e1e;
  letter-spacing: 1.4px;
  padding-top: 8px;
  display: block;
  height: auto;
  margin-bottom: 12px;
}
.l-navigation .c-button.cv {
  margin: 0 auto 5vw;
  width: 100%;
  height: 90px;
  line-height: 90px;
}
.l-navigation .c-button.cv span.en {
  font-size: 9vw;
  padding-left: 3%;
  padding-right: 7%;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;
}

/* ------------------------------------

c-button

------------------------------------ */
/*  c-button  */
.c-button {
  width: 198px;
  height: 39px;
  line-height: 38px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.c-button a {
  display: block;
  width: 100%;
}
.c-button::before {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  z-index: 1000;
  width: 0;
  height: 0;
  border-width: 3.5px 0 3.5px 6.1px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  content: "";
}
.c-button a::before {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0, 1);
  transform-origin: right top;
  background: #fff;
  content: "";
  transition: transform 0.3s;
}
.c-button:hover::before {
  border-color: transparent transparent transparent #58b2dc;
}
.c-button a:hover {
  color: #58b2dc;
}
.c-button a:hover::before {
  transform: scale(1, 1);
  transform-origin: left top;
}

@media screen and (max-width: 740px) {
  .c-button {
    font-size: 3.4vw;
  }
}
.c-button02 {
  width: 280px;
}

/*  dark  */
.c-button.dark {
  color: #fff;
  background: #58b2dc;
}
.c-button.dark::before {
  border-color: transparent transparent transparent #fff;
}
.c-button.dark:hover {
  border: 2px solid #58b2dc;
  line-height: 35px;
}
.c-button.dark:hover::before {
  border-color: transparent transparent transparent #58b2dc;
}
.c-button.dark a:hover {
  opacity: 0.999;
}

/*  light  */
.c-button.light {
  color: #58b2dc;
  background: #fff;
}
.c-button.light::before {
  border-color: transparent transparent transparent #58b2dc;
}
.c-button.light:hover {
  border: 2px solid #fff;
  line-height: 35px;
}
.c-button.light:hover::before {
  border-color: transparent transparent transparent #fff;
}
.c-button.light a::before {
  background: #58b2dc;
}
.c-button.light a:hover {
  opacity: 0.999;
  color: #fff;
}

/*  cv  */
.c-button.cv {
  width: 200px;
  height: 52px;
  line-height: 52px;
  color: #fff;
  background: #f69125;
  font-family: urw-din,  sans-serif;
  font-size: 21px;
}
.c-button.cv a:hover {
  color: #f69125;
  opacity: 0.999;
}
.c-button.cv a:hover::before {
  border-color: transparent transparent transparent #f69125;
}
.c-button.cv:hover::before {
  border-color: transparent transparent transparent #f69125;
}

@media screen and (max-width: 740px) {
  .c-button.cv {
    width: 80%;
  }
}
.header .c-button.cv a:hover {
  opacity: 0.999999;
}

/*  c-button-text  */
.c-button.c-button-text {
  display: inline-block;
  padding-right: 10px;
  margin-left: -10px;
  font-size: 13px;
  color: #58b2dc;
  width: auto;
  height: auto;
  line-height: inherit;
}
.c-button.c-button-text::before {
  border-color: transparent transparent transparent #58b2dc;
  right: -6px;
  border-width: 3.2px 0 3.2px 5.6px;
}

/*  c-button-border  */
.c-button.c-button-border {
  width: 374px;
  height: 124px;
  line-height: inherit;
  border: 3px solid #58b2dc;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.c-button.c-button-border .title {
  font-size: 26px;
}
.c-button.c-button-border .txt {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: urw-din,  sans-serif;
  color: #ddf3fa;
}
.c-button.c-button-border::before {
  border-color: transparent transparent transparent #58b2dc;
  top: inherit;
  bottom: 16px;
  transform: inherit;
  border-width: 3.2px 0 3.2px 5.6px;
}
.c-button.c-button-border:hover {
  border: 3px solid #58b2dc;
}
.c-button.c-button-border:hover::before {
  border-color: transparent transparent transparent #fff;
}
.c-button.c-button-border a::before {
  background: #58b2dc;
}
.c-button.c-button-border a:hover {
  color: #fff;
  opacity: 0.999;
}

@media screen and (max-width: 740px) {
  .c-button.c-button-border {
    width: 90%;
    border-width: 2px;
    height: 88px;
    border-radius: 12px;
  }
  .c-button.c-button-border .title {
    font-size: 5.4vw;
    font-weight: 600;
    line-height: 1.5;
  }
  .c-button.c-button-border .txt {
    font-size: 3vw;
    letter-spacing: 1.4px;
  }
  .c-button.c-button-border::before {
    border-width: 4.2px 0 4.2px 6.6px;
  }
}
/*  c-button-middle  */
.c-button.c-button-middle {
  width: 224px;
  height: 130px;
  line-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #58b2dc;
  background: #fff;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 18px;
  line-height: 1.5;
  overflow: hidden;
}
.c-button.c-button-middle::before {
  border-color: transparent transparent transparent #ddf3fa;
  top: inherit;
  right: 10px;
  bottom: 10px;
  transform: inherit;
  border-width: 4.2px 0 4.2px 6.6px;
}
.c-button.c-button-middle::after {
  content: "";
  position: absolute;
  z-index: 1000;
  top: -19px;
  left: -6px;
  border-width: 28px 0 28px 30px;
  transform: rotate(224deg);
  border-color: transparent transparent transparent #58b2dc;
}
.c-button.c-button-middle:hover::before {
  border-color: transparent transparent transparent #fff;
}
.c-button.c-button-middle a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.c-button.c-button-middle a::before {
  background: #58b2dc;
}
.c-button.c-button-middle a:hover {
  color: #fff;
  opacity: 0.999;
}

@media screen and (max-width: 740px) {
  .c-button.c-button-middle {
    font-size: 4.4vw;
    height: 80px;
    line-height: 1.3;
  }
  .c-button.c-button-middle::before {
    border-width: 4.2px 0 4.2px 6.6px;
  }
  .c-button.c-button-middle::after {
    border-width: 20px 0 20px 22px;
  }
}
/*  c-button-cmn-cv  */
.c-button.c-button-cmn-cv {
  width: 386px;
  height: 102px;
  line-height: 102px;
  border-radius: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 18px;
  background: #f69125;
  color: #fff;
}
.c-button.c-button-cmn-cv::before {
  border-color: transparent transparent transparent #fff;
  border-width: 3.2px 0 3.2px 5.6px;
}
.c-button.c-button-cmn-cv a::before {
  background: #f69125;
}
.c-button.c-button-cmn-cv a:hover {
  color: #fff;
}

@media screen and (max-width: 740px) {
  .c-button.c-button-cmn-cv {
    width: 90%;
    border-width: 3px;
    height: 76px;
    border-radius: 10px;
    font-size: 4.6vw;
  }
  .c-button.c-button-cmn-cv::before {
    border-width: 4.2px 0 4.2px 6.6px;
  }
}
.c-button.c-button-cmn-cv.cv02 {
  background: #58b2dc;
}

/*  c-button-no-link  */
.c-button.dark.no-link:hover {
  border: none;
  line-height: 39px;
}
.c-button.dark.no-link:hover::before {
  border-color: transparent transparent transparent #fff;
}

.c-button.light.no-link:hover {
  border: none;
  line-height: 39px;
}
.c-button.light.no-link:hover ::before {
  border-color: transparent transparent transparent #58b2dc;
}

/*  section_cmn_cv  */
@media screen and (min-width: 761px) {
  .section_cmn_cv {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .section_cmn_cv .inner {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 740px) {
  .section_cmn_cv .c-button {
    margin-bottom: 5%;
  }
}
/* ------------------------------------

icon

------------------------------------ */
/*  p-item__icons  */
.p-item__icons .icon {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding: 1px 8px;
}

@media screen and (max-width: 740px) {
  .p-item__icons .icon {
    padding: 0 8px 1px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .ip-item__icons .icon {
    padding: 0 8px 4px;
  }
}
.p-item__icons:empty {
  margin-bottom: 0;
}

/* ------------------------------------

new icon

------------------------------------ */
.new {
  position: relative;
}

.new:after {
  content: "NEW";
  display: block;
  position: absolute;
  z-index: 1000;
  top: 10px;
  left: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background: #f69125;
  font-family: source-han-sans-japanese, sans-serif;
  width: 54px;
  height: 54px;
  line-height: 54px;
  border-radius: 50%;
  letter-spacing: 0;
}

@media screen and (max-width: 740px) {
  .new:after {
    font-size: 12px;
    top: 5px;
    left: 5px;
    width: 44px;
    height: 44px;
    line-height: 54px;
  }
}
/* ------------------------------------

title

------------------------------------ */
.yakuhan {
  font-family: "YakuHanJP", source-han-sans-japanese, sans-serif;
}

/* list-page__header */
.list-page__header {
  text-align: center;
  padding-bottom: 40px;
}
.list-page__header .title {
  position: relative;
  font-size: 33px;
  font-weight: 700;
  line-height: 1.3;
}
.list-page__header .subtitle {
  font-family: urw-din,  sans-serif;
  font-weight: 700;
  line-height: 1.3;
  color: #58b2dc;
  letter-spacing: 3px;
  font-size: 17px;
  margin-top: 9px;
  text-transform: uppercase;
}
.list-page__header .text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  margin-top: 20px;
}

@media screen and (max-width: 740px) {
  .list-page__header {
    padding-bottom: 10%;
  }
  .list-page__header .title {
    font-size: 7.2vw;
    margin-bottom: 2%;
    letter-spacing: 1px;
    padding: 0 4px;
  }
  .list-page__header .subtitle {
    font-size: 10.14vw;
    line-height: 1.25;
    font-size: 4vw;
  }
  .list-page__header .text {
    font-size: 3.74vw;
  }
}
/* list-page__header */
.l-page .list-page__header {
  text-align: center;
  padding-top: 60px;
}

@media screen and (max-width: 740px) {
  .l-page .list-page__header {
    padding-top: 10%;
  }
}
/* ------------------------------------

page_index c-section01

------------------------------------ */
@media print, screen and (max-width: 760px) {
  .pc {
    display: none !important;
  }

  .sp-mini {
    display: none !important;
  }
}
@media screen and (max-width: 320px) {
  .sp-mini {
    display: inherit !important;
  }
}
@media print, screen and (min-width: 761px) {
  .sp {
    display: none !important;
  }

  .sp-mini {
    display: none !important;
  }
}
/* ------------

Clear Fix

------------ */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.fadeInAnim {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.8s ease-out, transform 0.6s ease-out;
  transition: opacity 0.8s ease-out, transform 0.6s ease-out;
}

.fadeInAnim.visible {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

/*# sourceMappingURL=common.css.map */
